* {
    font-family:Roboto;
    color: rgb(220, 220, 220);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}


h2 {
    color: aliceblue;
    text-align: center;
    font-size: 1rem;
}




.row > span {
    font-weight: 400;
    color:rgb(0, 234, 129);
    font-size: 4rem;
    text-align: center;

}

.intro span {
    font-weight: 800;
    font-size: 8rem;
    color:rgb(126, 238, 107);
    line-height: 10rem;
}

.fa-spotify {
    font-size: 1.7rem;
    margin-right: 1rem;
}


/* -----navBars------ */
.text-subtitle {
    font-size: 2.5rem;
    font-weight: 400;
    color:rgb(188, 244, 178);
}

nav {
    border-radius: .3rem;
}


/* ---backGround--- */
.card {
    background-color: rgb(0, 0, 0);
    width: auto;
}


.list-gorup-flush {
    background-color: rgb(40, 40, 40);
}

/* ---jumbotron--- */
.animation{
    animation-name: jumbotronAnimation;
    animation-duration: 3s;
    z-index:2;
}


.intro{
    /* height: 800px; */
    background-color: rgb(0, 156, 86) ;
    background-image: linear-gradient(rgb(0, 234, 129),  rgb(0, 0, 0));
    padding: 3% 3%;
    z-index: 1;


}

.intro p {
    font-family: ;
    font-size: 5rem;
    font-weight: 600;
    color: azure;
    padding: ;
    line-height: 80px;

}



/* ----------albumCards---------- */

.card-img-top {
    position: relative;
}
.card-img span {
    position: absolute;
    right: .7rem;
    top: .7rem;
    background-color: rgb(31, 77, 29);
    color: aliceblue;
    opacity: 90%;
    border-radius: 7%;
    padding: 0 .5rem 0 .5rem;
}

/* ---albumTitle--- */
.card-title {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 800;
    text-align: center;

}

.card-body:first-of-type {
    text-align: justify;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
}

.card-body span {
    font-size: rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    
}


/* ---description--- */
.card-text {
    font-size: .65rem;
}


.list-group-item {
   background-color: transparent;
   color: rgb(199, 204, 209);
   border: 1px solid rgb(37, 37, 37);
}

/* ---listIcons--- */
.list-group-flush i {
    font-size: 1.2rem;
    opacity: 70%;
    margin: 0 10% 0 2%;
}


/* ---listFont--- */
.list-group-item {
    font-size: 1rem;
}

/* ---tracks-- */
ol div {
    font-size: 1.5rem;
    padding: 1rem;
}

ol div span {
    margin-left: 1rem;
}


/* ---topSongs--- */
#topSongs .btn-success:hover {
    box-shadow: .05rem 1rem .2rem rgb(54, 57, 54);
    background-color:rgb(121, 159, 114);
}

#topSongs .td {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;   
}

.modal-content {
    background-color: rgb(71, 71, 71);
} 

/* ---hallOfShame--- */

.table img {
    height: 5rem;
    border-radius: 3%;
}






/* ---carousel--- */
.carousel-inner {
    border-radius: 2%;
}




/* ---footer--- */
#my-card-fav .card{
    display: flex;
    flex-direction: row;
    align-items: end;
}


.fav-card-info h5{
    font-size: 3rem;
}


.fav-card-info span{
    font-size: 2rem;
}




/* ---footer--- */
footer {
    text-align: center;
    margin-top: 5rem;

}

footer span {
    font-size: 2rem;
    color:rgb(188, 244, 178);
}

/* --------------- */

@keyframes jumbotronAnimation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgb(0, 234, 129); left:0px; top:0px;}
  
}


/* -------buttonRed----- */

td button {
    visibility: hidden;
}

tr:hover {
    background: rgb(32, 32, 32);
   
}
tr:hover td button {
    visibility: visible;
}